---
export interface Props {
    href: string;
    text: string;
}
const { href, text } = Astro.props;
---

<li>
    <a
        href={href}
        class="duration-300 font-medium ease-linear hover:text-[#d0cecb] py-3 text-sm uppercase leading-normal text-white font-[Georgia]"
    >
        {text}
    </a>
</li>
