---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Services from "../components/Services.astro";
import Gallery from "../components/Gallery.astro";
import Contact from "../components/Contact.astro";
import Testimonials from "../components/Testimonials.astro";
---

<Layout title="Welcome to Astro.">
  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <Hero />
    <About />
    <Services />
    <Gallery />
    <Testimonials />
    <Contact />
  </main>
</Layout>

<style></style>
