---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="bg-white flex flex-col">
			<div class="self-stretch flex w-full flex-col max-md:max-w-full">
			  <div class="self-stretch flex w-full flex-col pb-10 max-md:max-w-full">
				<div
				  class="
					flex-col
					self-stretch
					relative
					flex
					min-h-[864px]
					w-full
					pt-6
					pb-10
					px-5
					max-md:max-w-full
				  "
				>
				  <img
					loading="lazy"
					srcset="..."
					class="absolute h-full w-full object-cover object-center"
				  />
				  <div
					class="
					  relative
					  justify-between
					  items-start
					  self-center
					  flex
					  w-full
					  max-w-[1312px]
					  gap-5
					  -ml-5
					  max-md:max-w-full max-md:flex-wrap
					"
				  >
					<img
					  loading="lazy"
					  srcset="..."
					  class="aspect-[1.87] object-cover object-center w-[101px] shrink-0"
					/>
					<div
					  class="
						justify-between
						items-start
						self-center
						flex
						w-[552px]
						max-w-full
						gap-5
						my-auto
						max-md:flex-wrap max-md:justify-center
					  "
					>
					  <div class="text-white text-base leading-6 self-stretch">
						Browse
					  </div>
					  <div class="text-white text-base leading-6 self-stretch">
						Servicios
					  </div>
					  <div class="text-white text-base leading-6 self-stretch">
						Testimonios
					  </div>
					  <div class="text-white text-base leading-6 self-stretch">
						Contactanos
					  </div>
					  <div
						class="items-start self-stretch flex gap-2 max-md:justify-center"
					  >
						<img
						  loading="lazy"
						  srcset="..."
						  class="aspect-square object-cover object-center w-6 shrink-0"
						/>
						<img
						  loading="lazy"
						  srcset="..."
						  class="aspect-square object-cover object-center w-6 shrink-0"
						/>
						<img
						  loading="lazy"
						  srcset="..."
						  class="aspect-square object-cover object-center w-6 shrink-0"
						/>
					  </div>
					</div>
				  </div>
				  <div
					class="
					  relative
					  items-center
					  self-center
					  flex
					  w-[776px]
					  max-w-full
					  flex-col
					  mt-28
					  mb-56
					"
				  >
					<div
					  class="items-center self-stretch flex flex-col max-md:max-w-full"
					>
					  <div
						class="
						  self-stretch
						  text-stone-600 text-center text-6xl
						  font-bold
						  leading-[64px]
						  tracking-tighter
						  w-full
						  max-md:max-w-full max-md:text-4xl
						"
					  >
						Descubra el lugar perfecto para su boda
					  </div>
					  <div
						class="
						  text-stone-400 text-center text-base
						  leading-6
						  self-center
						  max-w-lg
						  mt-4
						  max-md:max-w-full
						"
					  >
						Sagittis adipiscing posuere id adipiscing aliquam posuere. Aliquet
						faucibus duis accumsan aliquet tempor diam dignissim suscipit.
						Nibh urna ut diam fames.
					  </div>
					</div>
					<img
					  loading="lazy"
					  srcset="..."
					  class="
						aspect-square
						object-cover object-center
						w-6
						self-center
						shrink-0
						mt-14
					  "
					/>
					<div
					  class="
						text-stone-400 text-center text-sm
						italic
						leading-6
						self-center
						mt-1.5
					  "
					>
					  Conoce más
					</div>
				  </div>
				</div>
			  </div>
			  <div
				class="
				  items-center
				  self-center
				  z-[1]
				  flex
				  w-full
				  max-w-[1040px]
				  flex-col
				  -mt-8
				  px-5
				  max-md:max-w-full
				"
			  >
				<div
				  class="
					self-center
					text-stone-600 text-center text-3xl
					font-bold
					leading-10
					tracking-tighter
					w-[1040px]
					-ml-5
					max-md:max-w-full
				  "
				>
				  Ubicación
				</div>
				<div
				  class="
					self-center
					text-neutral-400 text-center text-base
					leading-6
					w-[1040px]
					-ml-5
					mt-1
					max-md:max-w-full
				  "
				>
				  Lo recordaras por siempre
				</div>
			  </div>
			  <div
				class="
				  items-start
				  self-center
				  flex
				  w-full
				  max-w-[1040px]
				  flex-col
				  mt-8
				  px-5
				  max-md:max-w-full
				"
			  >
				<div class="text-stone-400 text-xl italic leading-7">Lugar destacado</div>
				<div
				  class="
					content-start
					flex-wrap
					shadow-[0px_4px_10px_0px_rgba(0,0,0,0.10)]
					self-center
					w-full
					-ml-5
					mt-4
					max-md:max-w-full
				  "
				>
				  <div
					class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0"
				  >
					<div class="flex flex-col items-stretch w-[35%] max-md:w-full">
					  <img
						loading="lazy"
						srcset="..."
						class="
						  aspect-[0.77]
						  object-cover object-center
						  w-full
						  grow
						  rounded-lg
						"
					  />
					</div>
					<div class="flex flex-col items-stretch w-[65%] ml-5 max-md:w-full">
					  <div
						class="
						  items-start
						  bg-white
						  flex
						  grow
						  flex-col
						  w-full
						  mx-auto
						  pt-9
						  pb-2.5
						  px-5
						  rounded-none
						  max-md:max-w-full
						"
					  >
						<div class="self-center flex w-[583px] max-w-full flex-col">
						  <div class="items-start flex w-[559px] max-w-full flex-col">
							<div
							  class="
								text-neutral-400 text-2xl
								font-bold
								leading-8
								tracking-tight
								w-full
							  "
							>
							  <span class="text-stone-600">1</span>
							  <span class="text-neutral-400">/10</span>
							</div>
							<div
							  class="
								items-start
								flex
								w-full
								grow
								flex-col
								mt-8
								max-md:max-w-full
							  "
							>
							  <div class="items-start flex w-[137px] max-w-full flex-col">
								<div
								  class="
									text-stone-600 text-3xl
									font-bold
									leading-10
									tracking-tighter
								  "
								>
								  La Victoria
								</div>
								<div
								  class="
									text-stone-400 text-center text-sm
									leading-6
									mt-1
								  "
								>
								  Quinta
								</div>
							  </div>
							  <div
								class="
								  text-neutral-400 text-base
								  leading-6
								  w-full
								  mt-4
								  max-md:max-w-full
								"
							  >
								Todo el complejo consta de dos edificios residenciales,
								una iglesia y un pórtico (conocido como Loggia Durini) que
								pueden albergar bodas y eventos en un entorno
								verdaderamente único.
								<br />
								<br />
								Pero la particularidad de Villa Balbianello es sobre todo
								el amplio jardín que rodea las viviendas, con magníficas
								encinas podadas en forma de sombrilla para ofrecer una
								espléndida vista del lago de Como desde el interior.
							  </div>
							</div>
						  </div>
						  <div
							class="
							  items-start
							  flex
							  w-full
							  justify-between
							  gap-5
							  mt-20
							  max-md:max-w-full max-md:flex-wrap
							"
						  >
							<img
							  loading="lazy"
							  srcset="..."
							  class="
								aspect-square
								object-cover object-center
								w-6
								shrink-0
							  "
							/>
							<img
							  loading="lazy"
							  srcset="..."
							  class="
								aspect-square
								object-cover object-center
								w-6
								shrink-0
							  "
							/>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			  <div
				class="
				  items-start
				  self-center
				  flex
				  w-full
				  max-w-[1100px]
				  grow
				  flex-col
				  ml-5
				  mt-24
				  max-md:max-w-full
				"
			  >
				<div
				  class="
					bg-neutral-50
					self-stretch
					flex
					grow
					flex-col
					rounded-lg
					max-md:max-w-full
				  "
				>
				  <img
					loading="lazy"
					srcset="..."
					class="
					  aspect-[3.47]
					  object-cover object-center
					  w-full
					  self-stretch
					  grow
					  border-[3px] border-solid border-stone-300
					  max-md:max-w-full
					"
				  />
				</div>
			  </div>
			</div>
			<div
			  class="
				items-center
				self-center
				flex
				w-full
				max-w-[1040px]
				flex-col
				-ml-10
				mt-32
				px-5
				max-md:max-w-full
			  "
			>
			  <div
				class="
				  self-center
				  text-stone-600 text-center text-3xl
				  font-bold
				  leading-10
				  tracking-tighter
				  w-[1040px]
				  -ml-5
				  max-md:max-w-full
				"
			  >
				Galeria
			  </div>
			  <div
				class="
				  self-center
				  text-neutral-400 text-center text-base
				  leading-6
				  w-[1040px]
				  -ml-5
				  mt-1
				  max-md:max-w-full
				"
			  >
				nuestro portafolio
			  </div>
			</div>
			<div
			  class="
				items-start
				content-start
				flex-wrap
				self-center
				flex
				w-full
				max-w-[1038px]
				flex-col
				-ml-6
				mt-32
				max-md:max-w-full
			  "
			>
			  <div class="self-stretch px-5 max-md:max-w-full">
				<div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
				  <div class="flex flex-col items-stretch w-6/12 max-md:w-full">
					<div
					  class="
						flex-col
						relative
						flex
						min-h-[298px]
						grow
						pt-10
						pb-7
						px-5
						rounded-lg
						max-md:max-w-full max-md:mt-4
					  "
					>
					  <img
						loading="lazy"
						srcset="..."
						class="absolute h-full w-full object-cover object-center"
					  />
					  <div
						class="
						  relative
						  text-zinc-300 text-center text-sm
						  leading-6
						  self-center
						  mt-44
						"
					  >
						LA BODA DE
					  </div>
					  <div
						class="
						  relative
						  text-white text-center text-2xl
						  font-bold
						  leading-8
						  tracking-tight
						  self-center
						  mt-1.5
						"
					  >
						Joy & Jordan
					  </div>
					</div>
				  </div>
				  <div class="flex flex-col items-stretch w-6/12 ml-5 max-md:w-full">
					<div
					  class="
						flex-col
						relative
						flex
						min-h-[298px]
						grow
						pt-10
						pb-9
						px-5
						rounded-lg
						max-md:max-w-full max-md:mt-4
					  "
					>
					  <img
						loading="lazy"
						srcset="..."
						class="absolute h-full w-full object-cover object-center"
					  />
					  <div
						class="
						  relative
						  text-zinc-300 text-center text-sm
						  leading-6
						  self-center
						  mt-44
						"
					  >
						LA BODA DE
					  </div>
					  <div
						class="
						  relative
						  text-white text-center text-2xl
						  font-bold
						  leading-8
						  tracking-tight
						  self-center
						  mt-1.5
						"
					  >
						Dianne & Michael
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			  <div class="self-stretch mt-4 px-5 max-md:max-w-full">
				<div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
				  <div class="flex flex-col items-stretch w-6/12 max-md:w-full">
					<div
					  class="
						flex-col
						relative
						flex
						min-h-[298px]
						grow
						pt-10
						pb-7
						px-5
						rounded-lg
						max-md:max-w-full max-md:mt-4
					  "
					>
					  <img
						loading="lazy"
						srcset="..."
						class="absolute h-full w-full object-cover object-center"
					  />
					  <div
						class="
						  relative
						  text-zinc-300 text-center text-sm
						  leading-6
						  self-center
						  mt-48
						"
					  >
						LA BODA DE
					  </div>
					  <div
						class="
						  relative
						  text-white text-center text-2xl
						  font-bold
						  leading-8
						  tracking-tight
						  self-center
						  mt-1.5
						"
					  >
						Gabrielle & Simon
					  </div>
					</div>
				  </div>
				  <div class="flex flex-col items-stretch w-6/12 ml-5 max-md:w-full">
					<div
					  class="
						flex-col
						relative
						flex
						min-h-[298px]
						grow
						pt-10
						pb-7
						px-5
						rounded-lg
						max-md:max-w-full max-md:mt-4
					  "
					>
					  <img
						loading="lazy"
						srcset="..."
						class="absolute h-full w-full object-cover object-center"
					  />
					  <div
						class="
						  relative
						  text-zinc-300 text-center text-sm
						  leading-6
						  self-center
						  ml-5
						  mt-48
						"
					  >
						LA BODA DE
					  </div>
					  <div
						class="
						  relative
						  text-white text-center text-2xl
						  font-bold
						  leading-8
						  tracking-tight
						  self-center
						  ml-5
						  mt-1.5
						"
					  >
						Zee & Adrian
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="self-stretch flex w-full flex-col mt-40 max-md:max-w-full">
			  <div
				class="
				  justify-center
				  items-center
				  bg-stone-600
				  self-stretch
				  flex
				  w-full
				  flex-col
				  px-5
				  py-10
				  max-md:max-w-full
				"
			  >
				<div
				  class="
					self-center
					w-full
					max-w-[1038px]
					-ml-5
					mt-2
					mb-4
					max-md:max-w-full
				  "
				>
				  <div
					class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0"
				  >
					<div class="flex flex-col items-stretch w-[3%] max-md:w-full">
					  <img
						loading="lazy"
						srcset="..."
						class="
						  aspect-square
						  object-cover object-center
						  w-6
						  shrink-0
						  my-auto
						  max-md:mt-52
						"
					  />
					</div>
					<div class="flex flex-col items-stretch w-[95%] ml-5 max-md:w-full">
					  <div
						class="
						  items-center
						  self-stretch
						  flex
						  grow
						  flex-col
						  pr-1
						  max-md:max-w-full max-md:mt-12
						"
					  >
						<div
						  class="
							items-center
							self-center
							flex
							w-[237px]
							max-w-full
							flex-col
						  "
						>
						  <div
							class="
							  text-white text-center text-3xl
							  font-bold
							  leading-10
							  tracking-tighter
							  self-center
							"
						  >
							Testimonios
						  </div>
						  <div
							class="
							  text-neutral-400 text-center text-base
							  leading-6
							  self-stretch
							  mt-1
							"
						  >
							de parejas felices y encantadas
						  </div>
						</div>
						<div class="self-stretch mt-12 max-md:max-w-full">
						  <div
							class="
							  gap-5
							  flex
							  max-md:flex-col max-md:items-stretch max-md:gap-0
							"
						  >
							<div class="flex flex-col items-stretch w-[5%] max-md:w-full">
							  <div
								class="
								  text-neutral-700 text-center text-9xl
								  font-bold
								  leading-[136px]
								  tracking-tighter
								  max-md:text-4xl max-md:mt-4
								"
							  >
								“
							  </div>
							</div>
							<div
							  class="
								flex flex-col
								items-stretch
								w-[90%]
								ml-5
								max-md:w-full
							  "
							>
							  <div
								class="
								  text-neutral-50 text-center text-base
								  leading-6
								  w-[776px]
								  max-w-full
								  max-md:mt-4
								"
							  >
								Lorem ipsum sit ac suspendisse adipiscing eget aliquam
								fermentum rutrum tempus aenean. Suspendisse nascetur
								vulputate viverra varius eu ullamcorper. Cursus
								pellentesque erat eget eget ullamcorper id in. Nullam
								scelerisque varius viverra augue quis. Laoreet eget
								curabitur vitae sed at facilisis purus convallis
								imperdiet.
								<br />
								<br />
								Penatibus auctor diam vivamus amet a vehicula ultrices.
								Volutpat arcu in amet praesent nisl mattis etiam cras
								orci. Ut urna elementum sapien orci lacus!
							  </div>
							</div>
							<div
							  class="
								flex flex-col
								items-stretch
								w-[5%]
								ml-5
								max-md:w-full
							  "
							>
							  <div
								class="
								  text-neutral-700 text-center text-9xl
								  font-bold
								  leading-[136px]
								  tracking-tighter
								  max-md:text-4xl max-md:mt-4
								"
							  >
								”
							  </div>
							</div>
						  </div>
						</div>
						<div
						  class="
							items-center
							self-center
							flex
							w-[88px]
							max-w-full
							grow
							flex-col
							mt-12
						  "
						>
						  <img
							loading="lazy"
							srcset="..."
							class="
							  aspect-square
							  object-cover object-center
							  w-full
							  self-stretch
							"
						  />
						  <div
							class="
							  text-white text-center text-sm
							  italic
							  leading-6
							  self-stretch
							  mr-px
							  mt-2.5
							"
						  >
							Joy & Jordan
						  </div>
						</div>
					  </div>
					</div>
					<div class="flex flex-col items-stretch w-[3%] ml-5 max-md:w-full">
					  <img
						loading="lazy"
						srcset="..."
						class="
						  aspect-square
						  object-cover object-center
						  w-6
						  shrink-0
						  my-auto
						  max-md:mt-52
						"
					  />
					</div>
				  </div>
				</div>
			  </div>
			  <div
				class="
				  justify-between
				  items-center
				  bg-white
				  self-stretch
				  flex
				  w-full
				  flex-col
				  mt-24
				  px-5
				  py-10
				  max-md:max-w-full
				"
			  >
				<div
				  class="self-center w-full max-w-[1040px] -ml-5 my-4 max-md:max-w-full"
				>
				  <div
					class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0"
				  >
					<div class="flex flex-col items-stretch w-[58%] max-md:w-full">
					  <div class="items-start flex flex-col my-auto max-md:mt-12">
						<div class="items-start flex w-[411px] max-w-full flex-col">
						  <div
							class="
							  text-stone-600 text-3xl
							  font-bold
							  leading-10
							  tracking-tighter
							"
						  >
							Contactanos
						  </div>
						  <div class="text-neutral-400 text-base leading-6 w-full mt-1">
							¡Estamos emocionados de comenzar a planificar!
						  </div>
						</div>
						<img
						  loading="lazy"
						  srcset="..."
						  class="
							aspect-[2.46]
							object-cover object-center
							w-[172px]
							shrink-0
							mt-6
						  "
						/>
					  </div>
					</div>
					<div class="flex flex-col items-stretch w-[42%] ml-5 max-md:w-full">
					  <div class="items-start flex grow flex-col max-md:mt-12">
						<div
						  class="
							flex-col
							relative
							flex
							aspect-[1.190909090909091]
							w-full
							px-5
							py-10
							rounded-lg
						  "
						>
						  <img
							loading="lazy"
							srcset="..."
							class="absolute h-full w-full object-cover object-center"
						  />
						  <img
							loading="lazy"
							srcset="..."
							class="
							  aspect-square
							  object-cover object-center
							  w-7
							  self-center
							  ml-0
							  shrink-0
							  mt-36
							  mb-14
							"
						  />
						</div>
						<div class="items-start flex w-[248px] max-w-full flex-col mt-6">
						  <div class="text-stone-600 text-base italic leading-6">
							Ubicación
						  </div>
						  <div class="items-start flex w-full grow flex-col mt-2">
							<div
							  class="
								text-stone-400 text-base
								leading-6
								self-stretch
								w-full
							  "
							>
							  Tumbaco
							</div>
							<div
							  class="
								text-stone-400 text-base
								leading-6
								self-stretch
								w-full
								mt-2
							  "
							>
							  Teléfono: 593-997787776
							</div>
						  </div>
						</div>
						<div
						  class="items-start flex w-[88px] max-w-full grow flex-col mt-6"
						>
						  <div class="text-stone-600 text-base italic leading-6">
							Siguenos:
						  </div>
						  <div
							class="
							  items-start
							  flex
							  w-full
							  gap-2
							  mt-4
							  max-md:justify-center
							"
						  >
							<img
							  loading="lazy"
							  srcset="..."
							  class="
								aspect-square
								object-cover object-center
								w-6
								shrink-0
							  "
							/>
							<img
							  loading="lazy"
							  srcset="..."
							  class="
								aspect-square
								object-cover object-center
								w-6
								shrink-0
							  "
							/>
							<img
							  loading="lazy"
							  srcset="..."
							  class="
								aspect-square
								object-cover object-center
								w-6
								shrink-0
							  "
							/>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div
			  class="
				items-start
				bg-neutral-700
				self-stretch
				flex
				w-full
				flex-col
				mt-52
				px-5
				py-3.5
				max-md:max-w-full max-md:mt-52
			  "
			>
			  <div
				class="
				  justify-between
				  items-start
				  self-center
				  flex
				  w-full
				  max-w-[1040px]
				  gap-5
				  -ml-5
				  max-md:max-w-full max-md:flex-wrap max-md:justify-center
				"
			  >
				<img
				  loading="lazy"
				  srcset="..."
				  class="aspect-[1.87] object-cover object-center w-[101px] shrink-0"
				/>
				<div
				  class="
					text-neutral-400 text-base
					leading-6
					self-center
					w-[155px]
					my-auto
				  "
				>
				  Acerca de nosotros
				</div>
				<div
				  class="items-start self-center flex gap-2 my-auto max-md:justify-center"
				>
				  <img
					loading="lazy"
					srcset="..."
					class="aspect-square object-cover object-center w-6 shrink-0"
				  />
				  <img
					loading="lazy"
					srcset="..."
					class="aspect-square object-cover object-center w-6 shrink-0"
				  />
				  <img
					loading="lazy"
					srcset="..."
					class="aspect-square object-cover object-center w-6 shrink-0"
				  />
				</div>
			  </div>
			</div>
		  </div>
		  
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
