---

---

<section
  class="landing-section bg-gray-50 h-screen w-screen text-center overflow-hidden relative"
  id="about"
>
  <div
    class="items-start
  bg-gray-100
  self-stretch
  flex
  w-full
  h-full
  flex-col
  px-5
  py-10
  max-md:max-w-full"
  >
    <div
      class="items-center
    self-center
    flex
    w-full
    max-w-[1040px]
    flex-col
    mt-10
    max-md:max-w-full"
    >
      <div
        class="self-center
      text-stone-600 text-center text-3xl
      font-bold
      leading-[125%]
      tracking-tighter
      w-[1040px]
      max-md:max-w-full"
      >
        Conocenos
      </div>
      <div
        class="self-center
      text-neutral-400 text-center text-base
      leading-[150%]
      w-[1040px]
      mt-1
      max-md:max-w-full"
      >
        Lo recordaras por siempre
      </div>
    </div>
    <div
      class="items-start
    self-center
    flex
    w-full
    max-w-[1040px]
    flex-col
    mt-16
    mb-16
    max-md:max-w-full"
    >
      <div class="text-stone-400 text-xl italic leading-[140%]">
        Lugar destacado
      </div>
      <img
        loading="lazy"
        srcset="/view1.png"
        class="aspect-[2.23]
      object-cover object-center
      w-full
      overflow-hidden
      self-center
      grow
      mt-4
      max-md:max-w-full"
      />
    </div>
  </div>
</section>
