---

---

<section
  class="landing-section bg-gray-50 w-screen text-center overflow-hidden relative"
  id="about"
>
  <div class="container my-10 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32">
      <style>
        .zoom:hover img {
          transform: scale(1.1);
        }
      </style>

      <h2 class="mb-12 text-center text-3xl font-bold">Conocenos</h2>

      <div class="w-full">
        <video class="w-full shadow-lg clip " autoplay loop muted controls controlslist="nodownload">
          <source
            src="victoria.mov"
            type="video/mp4" />
        </video>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
</section>

<script></script>
