---

---

<section
  class="landing-section bg-gray-50 w-screen text-center overflow-hidden relative"
  id="about"
>
  <div class="container my-10 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32">
      <style>
        .zoom:hover img {
          transform: scale(1.1);
        }
      </style>

      <h2 class="mb-12 text-center text-3xl font-bold">
        Eventos de los que estamos orgullosos
      </h2>

      <div class="w-full">
        <div style="padding:56.25% 0 0 0;position:relative;">
          <iframe
            src="https://www.youtube.com/embed/tTEGgNfJD3Q?si=AGOkR6hnjPJREiJ2?&modestbranding=1&autoplay=1"
            allow="autoplay"
            style="position:absolute;top:0;left:0;width:100%;height:100%;"
            allowfullscreen></iframe>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
</section>

<script></script>


