---

---

<section
  class="landing-section bg-gray-50 w-screen text-center overflow-hidden relative"
  id="about"
>
  <div class="container my-10 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32">
      <style>
        .zoom:hover img {
          transform: scale(1.1);
        }
      </style>

      <h2 class="mb-12 text-center text-3xl font-bold">Conocenos</h2>

      <div class="w-full">
        <iframe
          src="https://www.youtube.com/embed/tTEGgNfJD3Q?si=AGOkR6hnjPJREiJ2?&modestbranding=1&autoplay=1&mute=1"
          allow="autoplay"
          style="width:100%;aspect-ratio: 16/9"
          allowfullscreen></iframe>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
</section>

<script></script>
