---

---

<section
  class="landing-section bg-gray-50 h-screen w-screen text-center overflow-hidden relative"
  id="about"
>
  <div
    class="flex-col
    relative
    flex
    h-full
    w-full
    max-md:max-w-full"
  >
    <div
      class="self-center
    text-stone-600 text-center text-3xl
    font-bold
    leading-[125%]
    tracking-tighter
    w-[1040px]
    -ml-5
    max-md:max-w-full
    mt-20"
    >
      Ubicación
    </div>
    <div
      class="self-center
    text-neutral-400 text-center text-base
    leading-[150%]
    w-[1040px]
    -ml-5
    mt-1
    max-md:max-w-full"
    >
      Lo recordaras por siempre
    </div>
    <div
      class="items-start
    self-center
    flex
    w-full
    max-w-[1040px]
    flex-col
    mt-24
    px-5
    max-md:max-w-full"
    >
      <div class="text-stone-400 text-xl italic leading-[140%]">
        Lugar destacado
      </div>
      <div
        class="content-start
      flex-wrap
      shadow-[0px_4px_10px_0px_rgba(0,0,0,0.10)]
      self-center
      w-full
      -ml-5
      mt-4
      max-md:max-w-full"
      >
        <div
          class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0"
        >
          <div class="flex flex-col items-stretch w-[35%] max-md:w-full">
            <img
              loading="lazy"
              srcset="/view1.png"
              class="aspect-[0.77]
            object-cover object-center
            w-full
            overflow-hidden
            grow"
            />
          </div>
          <div class="flex flex-col items-stretch w-[65%] ml-5 max-md:w-full">
            <div
              class="items-start
            bg-white
            flex
            grow
            flex-col
            w-full
            mx-auto
            pt-9
            pb-2.5
            px-5
            rounded-none
            max-md:max-w-full"
            >
              <div class="self-center flex w-[583px] max-w-full flex-col">
                <div class="items-start flex w-[559px] max-w-full flex-col">
                  <div
                    class="items-start
                  flex
                  w-full
                  grow
                  flex-col
                  mt-8
                  max-md:max-w-full"
                  >
                    <div class="items-start flex w-[137px] max-w-full flex-col">
                      <div
                        class="text-stone-600 text-3xl
                      font-bold
                      leading-[125%]
                      tracking-tighter"
                      >
                        La Victoria
                      </div>
                      <div
                        class="text-stone-400 text-center text-sm
                      leading-[157.14%]
                      mt-1"
                      >
                        Quinta
                      </div>
                    </div>
                    <div
                      class="text-neutral-400 text-base
                    leading-[150%]
                    w-full
                    mt-4
                    max-md:max-w-full"
                    >
                      Todo el complejo consta de dos edificios residenciales,
                      una iglesia y un pórtico (conocido como Loggia Durini) que
                      pueden albergar bodas y eventos en un entorno
                      verdaderamente único.
                      <br />
                      <br />
                       Pero la particularidad de Villa Balbianello es sobre todo
                      el amplio jardín que rodea las viviendas, con magníficas
                      encinas podadas en forma de sombrilla para ofrecer una
                      espléndida vista del lago de Como desde el interior.
                    </div>
                  </div>
                </div>
                <div
                  class="items-start
                flex
                w-full
                justify-between
                gap-5
                mt-20
                max-md:max-w-full max-md:flex-wrap"
                >
                  <img
                    loading="lazy"
                    srcset="..."
                    class="aspect-square
                  object-cover object-center
                  w-6
                  overflow-hidden
                  shrink-0"
                  />
                  <img
                    loading="lazy"
                    srcset="..."
                    class="aspect-square
                  object-cover object-center
                  w-6
                  overflow-hidden
                  shrink-0"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
