---

---

<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  id="hero"
>
  <div
    class="flex-col
    relative
    flex
    h-full
    w-full
    max-md:max-w-full"
  >
    <img
      loading="lazy"
      srcset="/img.png"
      class="absolute h-full w-full object-cover object-center"
    />
    <div
      class="relative
      justify-between
      items-start
      self-center
      flex
      mt-4
      w-full
      max-w-[1312px]
      gap-5
      max-md:max-w-full max-md:flex-wrap"
    >
      <div
        class="relative
      items-center
      self-center
      flex
      max-w-full
      flex-col
      mt-28
      mb-56"
      >
        <div class="items-center self-stretch flex flex-col max-md:max-w-full">
          <div
            class="self-stretch
          text-stone-600 text-center text-6xl
          font-bold
          leading-[114.29%]
          tracking-tighter
          w-full
          max-md:max-w-full max-md:text-4xl"
          >
            La Victoria el lugar perfecto para crear recuerdos inolvidables
          </div>
          <div
            class="text-stone-400 text-center text-base
          leading-[150%]
          self-center
          max-w-lg
          mt-4
          max-md:max-w-full"
          >
            En quinta La Victoria nos dedicamos a ofrecer a nuestros clientes la
            mejor experiencia posible y de este modo genear recuerdos que
            perduren en el tiempo y en el corazón de las personas.
          </div>
        </div>
        <a href="https://wa.me/593987361647">
          <button
            type="button"
            class="text-white hover:bg-green-400 rounded-full mt-14"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-whatsapp"
              width="48"
              height="48"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path>
              <path
                d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
              ></path>
            </svg>
          </button>
        </a>
        <div
          class="text-stone-400 text-center text-sm
        italic
        leading-[157.14%]
        self-center
        mt-1.5"
        >
          Comunicate
        </div>
      </div>
    </div>
  </div>
</section>
