---

---

<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  id="hero"
>
  <div
    class="flex-col
    relative
    flex
    h-full
    w-full
    max-md:max-w-full"
  >
    <img
      loading="lazy"
      srcset="/portada3.jpg"
      class="absolute h-full w-full object-cover object-center blur-sm"
    />
    <div
      class="relative
      justify-between
      items-start
      self-center
      flex
      mt-4
      w-full
      max-w-[1312px]
      gap-5
      max-md:max-w-full max-md:flex-wrap"
    >
      <div
        class="relative
      items-center
      self-center
      flex
      max-w-full
      flex-col
      mt-28
      mb-56"
      >
        <div class="items-center self-stretch flex flex-col max-md:max-w-full">
          <div
            class="self-stretch
          text-center text-6xl
          font-bold
          leading-[114.29%]
          tracking-tighter
          w-full
          max-md:max-w-full max-md:text-4xl
          text-[#FFFFFF]
          font-[Georgia]
          mt-16
          "
          >
            La Victoria <br/> Un lugar perfecto para crear recuerdos inolvidables
          </div>
          <div
            class="text-[#FFFFFF] text-center text-base
          leading-[150%]
          self-center
          max-w-lg
          mt-20
          max-md:max-w-full
          font-[Georgia]
          "

          >
          En La Victoria nos dedicamos a ofrecer a nuestros clientes el lugar ideal y crear la mejor experiencia posible en el evento organizado, de este modo generar recuerdos que perduren en el tiempo y en el corazón de las personas.  <br /> <br /><br /> Estamos ubicados en Tumbaco - Quito - Ecuador
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
