---

---

<section
  class="landing-section bg-green-400 h-screen w-screen text-center overflow-hidden relative"
  
>

    

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <slot name="background" />
  </div>
</section>