---
import TestimonialsComponent from "./Testimonial";
---

<section
  class="landing-section bg-[#bca895] h-screen w-screen text-center overflow-hidden relative"
>
  <div
    class="items-center
  self-stretch
  flex
  grow
  flex-col
  pr-1
  max-md:max-w-full max-md:mt-12"
  >
    <div
      class="items-center self-center flex w-[237px] max-w-full flex-col mt-10 lg:mt-20 md:mt-20"
    >
      <div
        class="text-white text-center text-3xl
      font-bold
      leading-[125%]
      tracking-tighter
      self-center"
      >
        Testimonios
      </div>
      <div
        class="text-neutral-700 text-center text-base
      leading-[150%]
      self-stretch
      mt-1"
      >
        de nuestras parejas
      </div>
    </div>
    <div class="self-stretch mt-4 max-md:max-w-full lg:mt-32 md:mt-32">
      <TestimonialsComponent client:visible />
    </div>
  </div>
</section>
