---

---
<div id="carouselExampleCaptions" class="relative">
    <div
      class="relative w-full overflow-hidden after:clear-both after:block after:content-['']"
    >
      <div
        class="relative float-left -mr-[100%] w-full text-center transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none !block data-[te-carousel-fade]:opacity-100 data-[te-carousel-fade]:z-[1]"
        style="backface-visibility: hidden"
      >
        <p
          id="testimonial-text"
          class="mx-auto max-w-4xl text-xl italic text-neutral-700 dark:text-neutral-300"
        >
          "Neque cupiditate assumenda in maiores repudiandae mollitia
          adipisci maiores repudiandae mollitia consectetur adipisicing
          architecto elit sed adipiscing elit."
        </p>
        <div class="mb-6 mt-12 flex justify-center">
          <img
            id="user-image"
            src="https://tecdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp"
            class="h-24 w-24 rounded-full shadow-lg dark:shadow-black/30"
            alt="smaple image"
          />
        </div>
        <p id="username" class="text-neutral-500 dark:text-neutral-300">
          - Teresa May
        </p>

      </div>
    </div>
    <button
      id="prev-button"
      class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-black opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-black hover:no-underline hover:opacity-90 hover:outline-none focus:text-black focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none dark:text-white dark:opacity-50 dark:hover:text-white dark:focus:text-white"
      type="button"
      data-te-target="#carouselExampleCaptions"
      data-te-slide="prev"
    >
      <span class="inline-block h-8 w-8">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5L8.25 12l7.5-7.5"></path>
        </svg>
      </span>
      <span
        class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
        >Previous</span
      >
    </button>
    <button
      id="next-button"
      class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-black opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-black hover:no-underline hover:opacity-90 hover:outline-none focus:text-black focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none dark:text-white dark:opacity-50 dark:hover:text-white dark:focus:text-white"
      type="button"
      data-te-target="#carouselExampleCaptions"
      data-te-slide="next"
    >
      <span class="inline-block h-8 w-8">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
        </svg>
      </span>
      <span
        class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
        >Next</span
      >
    </button>
  </div>

  <script>
    const testimonials = [
      {
        name: "Miyah Myles",
        position: "Marketing",
        photo:
          "https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=707b9c33066bf8808c934c8ab394dff6",
        text: "I've worked with literally hundreds of HTML/CSS developers and I have to say the top spot goes to this guy. This guy is an amazing developer. He stresses on good, clean code and pays heed to the details. I love developers who respect each and every aspect of a throughly thought out design and do their best to put it in code. He goes over and beyond and transforms ART into PIXELS - without a glitch, every time.",
      },
      {
        name: "June Cha",
        position: "Software Engineer",
        photo: "https://randomuser.me/api/portraits/women/44.jpg",
        text: "This guy is an amazing frontend developer that delivered the task exactly how we need it, do your self a favor and hire him, you will not be disappointed by the work delivered. He will go the extra mile to make sure that you are happy with your project. I will surely work again with him!",
      },
      {
        name: "Iida Niskanen",
        position: "Data Entry",
        photo: "https://randomuser.me/api/portraits/women/68.jpg",
        text: "This guy is a hard worker. Communication was also very good with him and he was very responsive all the time, something not easy to find in many freelancers. We'll definitely repeat with him.",
      },
      {
        name: "Renee Sims",
        position: "Receptionist",
        photo: "https://randomuser.me/api/portraits/women/65.jpg",
        text: "This guy does everything he can to get the job done and done right. This is the second time I've hired him, and I'll hire him again in the future.",
      },
      {
        name: "Jonathan Nunfiez",
        position: "Graphic Designer",
        photo: "https://randomuser.me/api/portraits/men/43.jpg",
        text: "I had my concerns that due to a tight deadline this project can't be done. But this guy proved me wrong not only he delivered an outstanding work but he managed to deliver 1 day prior to the deadline. And when I asked for some revisions he made them in MINUTES. I'm looking forward to work with him again and I totally recommend him. Thanks again!",
      },
      {
        name: "Sasha Ho",
        position: "Accountant",
        photo:
          "https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?h=350&auto=compress&cs=tinysrgb",
        text: "This guy is a top notch designer and front end developer. He communicates well, works fast and produces quality work. We have been lucky to work with him!",
      },
      {
        name: "Veeti Seppanen",
        position: "Director",
        photo: "https://randomuser.me/api/portraits/men/97.jpg",
        text: "This guy is a young and talented IT professional, proactive and responsible, with a strong work ethic. He is very strong in PSD2HTML conversions and HTML/CSS technology. He is a quick learner, eager to learn new technologies. He is focused and has the good dynamics to achieve due dates and outstanding results.",
      },
    ];
    // JavaScript code for carousel functionality (add here)
    let currentTestimonialIndex = 0;
    const testimonialText = document.getElementById("testimonial-text");
    const userImage =
      (document.getElementById("user-image") as HTMLImageElement) || null;
    const username = (document.getElementById("username") as HTMLElement) || null;
    const prevButton = document.getElementById("prev-button")!;
    const nextButton = document.getElementById("next-button")!;
    const paginationDots = Array.from(
      document.getElementById("pagination-dots")?.children || [],
    );
  
    let autoplayInterval: number;
  
    function displayTestimonial() {
      if (testimonialText) {
        testimonialText.textContent = testimonials[currentTestimonialIndex].text;
      }
      if (userImage) {
        userImage.src = testimonials[currentTestimonialIndex].photo;
      }
      if (username) {
        username.textContent = testimonials[currentTestimonialIndex].name;
      }
      if (paginationDots) {
        updatePaginationDots();
      }
    }
  
    function updatePaginationDots() {
      for (let i = 0; paginationDots && i < paginationDots.length; i++) {
        if (paginationDots[i] instanceof HTMLElement) {
          paginationDots[i].classList.toggle(
            "bg-blue-500",
            i === currentTestimonialIndex,
          );
          paginationDots[i].classList.toggle(
            "bg-gray-300",
            i !== currentTestimonialIndex,
          );
        }
      }
    }
  
    prevButton?.addEventListener("click", () => {
      currentTestimonialIndex =
        (currentTestimonialIndex - 1 + testimonials.length) % testimonials.length;
      displayTestimonial();
    });
  
    nextButton?.addEventListener("click", () => {
      currentTestimonialIndex =
        (currentTestimonialIndex + 1) % testimonials.length;
      displayTestimonial();
    });
  
    function goToDot(index: number) {
      currentTestimonialIndex = index;
      displayTestimonial();
    }
  
    for (let i = 0; i < paginationDots.length; i++) {
      paginationDots[i].addEventListener("click", () => {
        goToDot(i);
      });
    }
  
    // Autoplay Testimonials
    function startAutoplay() {
      autoplayInterval = setInterval(() => {
        currentTestimonialIndex =
          (currentTestimonialIndex + 1) % testimonials.length;
        displayTestimonial();
      }, 3000); // Change testimonials every 5 seconds
    }
  
    function stopAutoplay() {
      clearInterval(autoplayInterval);
    }
  
    startAutoplay();
  
    // Pause autoplay on button hover
    prevButton?.addEventListener("mouseenter", stopAutoplay);
    nextButton?.addEventListener("mouseenter", stopAutoplay);
  
    // Resume autoplay when not hovering over buttons
    prevButton?.addEventListener("mouseleave", startAutoplay);
    nextButton?.addEventListener("mouseleave", startAutoplay);
  </script>
  