---


---

<section
  class="landing-section bg-green-400 h-screen w-screen text-center overflow-hidden relative"
>
  <div class="self-center w-[898px] max-w-full mt-10 lg:mt-48, md:mt-48 mb-48">
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
      
    </div>
  </div>
</section>
